header nav .logo-container .logo a {
        text-decoration: none;
        color: white;
}

#item {
        display: flex;
        flex-direction: column;
        padding-bottom: 10%;
}

.item-img-mob {
    display: block;
    width: 100%;
}

.item-img-desk {
    display: none;
}

.info-block {
    padding: 5% 5% 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-text {
    margin-bottom: 0;
}

.buy-form {
    padding-top: 5%;
    display: grid;
    grid-template-columns: 60% 40%;
}

.form-btn {
    display: inline-block;
    padding: 5px 30px 5px 30px;
    border: 1px solid var(--button-border);
    margin: 0 0 0 0;
    color: var(--title-font-color);
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.05rem;
    text-align: center;
    transition: all 0.2s;
    background-color: var(--about-background-color);
    align-self: center;
}

.item-text {
    font-size: 15px;
}

.price {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
}

.weight {
    color: #aaaaaa;
    margin-bottom: 8px;
}

.number {
height: 37px;
width: 120px;
text-align: center;
}

@media(min-width: 716px){
    #item {
        flex-direction: row;
    }

    .item-img{
        min-width: 50%;
        min-height: 350px;
    }

    .item-img-desk {
        display: block;
        width: 100%;
    }

    .item-img-mob {
        display: none;
    }

    .info-block {
    padding: 0 3% 0 3%;
    }
}

#try {
    display: none;
}

@media(min-width: 716px){
    #try {
        background-color: #f7f6f6;
        display: block;
    }


    .try-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4%;
        padding: 3% 0 5% 0;
    }
}

.cake-item {
    display: flex;
}

.cake-item .cake-item-img {
    min-width: 50%;
}

.cake-item-img img {
    display: block;
    width: 100%;
}

.cake-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

.want {
    display: inline-block;
    padding: 5px 30px 5px 30px;
    border: 1px solid var(--button-border);
    margin: 0 0.3em 0.3em 0;
    color: var(--title-font-color);
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.05rem;
    text-align: center;
    transition: all 0.2s;
    background-color: var(--about-background-color);
}

.want:hover {
    background-color: var(--button-pressed);
    cursor: pointer;
}

.cake-item-heading {
    color: var(--logo-background-color);
}

.cake-item-paragraph {
    text-align: center;
    font-size: 0.85em;
    padding: 0 5px 0 5px;
    height: 88px;
}

.alert-modal-title {
    text-align: center;
    padding-left: 30%;
}

.modal-header {
    border-bottom: none;
}

.modal-cake-line{
    display: flex;
    align-content: space-between;
    align-items: center;
}

.checkmark {
    width: 7%;
    font-family: 'Arizonia', sans-sarif;
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.cart-cake {
    width: 60%;
}

.cart-number {
    width: 10%;
}

.cart-price {
    width: 15%;
}

.cart-delete {
    font-family: 'Arizonia', sans-sarif;
    font-weight: bold;
    color: black;
    font-size: 15px;

}

.cart-delete:hover {
    cursor: pointer;
}

.total {
    display: flex;
    align-content: space-between;
    font-weight: bold;

}

.total-text {
    width: 77%;
    padding-left: 7%;
}


.modal-buy-form {
    padding: 0 5% 0 5%;
    display: flex;
    flex-direction: column;
}

.modal-buy-form input {
    height: 28px;
    border-radius: 0px;
    margin: 10px 0 10px 0;
}

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}