@import url('https://fonts.googleapis.com/css?family=Arizonia&display=swap');

:root {
    --logo-background-color: #444444;
    --about-background-color: #e6e6e6;
    --body-font-color: #606060;
    --title-font-color: #232323;
    --background-color: #ebebeb;
    --button-border: #aaaaaa;
    --button-pressed: #c0c0c0;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: 'Helvetica', sans-sarif;
    font-size: 15px;
    color: var(--body-font-color);
}

.container-max-width {
    max-width: 980px;
    margin: 0 auto;
}

header nav .logo-container {
    background-color: var(--logo-background-color);
    margin: 0 0;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .logo-container .logo {
    font-family: 'Arizonia', sans-sarif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding: 10px;
    margin: 0 0;
}

header nav .logo-container .menu-icon {
    width: 40px;
    height: 30px;
    padding-right: 20px;
    box-sizing: content-box;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: none;
}

.bg-dark {
    background-color: var(--body-font-color)!important;
    border: 1px solid black;
    border-top: none;
}

header nav .menu-drop {
    list-style-type: none;
    padding-inline-start: 0;
    margin-bottom: 0;
}

header nav .menu-drop li {
    padding: 7px;
}

header nav .menu-drop .menu-drop-li-a{
    text-decoration: none;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
}

header nav .menu-drop li:hover {
    background-color: #7a7a7a;
    cursor: pointer;
}

header nav .menu {
    display: none;
}

@media(min-width: 570px){
    header nav .menu {
        display: flex;
        padding-left: 10%;
        padding-right: 10%;
        list-style-type: none;
        justify-content: space-around;
        margin-top: 15px;
    }

    header nav .menu li a {
        text-decoration: none;
        color: black;
        font-family: Helvetica, sans-serif;
        font-size: 20px;
        padding: 5px 20px 5px 20px;
    }

    header nav .menu li a:hover {
        background-color: var(--about-background-color);
    }

    header nav .logo-container .menu-icon {
        display: none;
    }

    .pos-f-t{
        display: none;
    }

    header nav .logo-container{
        justify-content: center;
    }
}

h2 {
    text-align: center;
    font-size: 25px;
    padding: 2%;
    margin-top: 10px;
}

.title-black {
    color: var(--title-font-color);
}

main #about .mobile-cake {
    display: block;
    width: 100%;
}



main #about .descktop-cake {
    display: none;
}

main #about .article {
    padding: 0 3% 8% 3%
}



@media(min-width: 570px){
    main #about {
        background-color: var(--background-color);
    }

    main #about .descktop-cake {
        display: block;
        width: 100%;
    }

    main #about .mobile-cake {
        display: none;
    }

    main #about .article  {
        padding: 0 8% 5% 8%
    }
}



main #our-cakes h2 {
    display: none;
}

h3 {
    font-size: 1.17em;
}

main #our-cakes .cakes-box {
    display: grid;
    grid-template-columns: 1fr;
}



main #our-cakes .cakes-box .cake-item {
    display: flex;
}

main #our-cakes .cakes-box .cake-item .cake-item-img {
    min-width: 50%;
}

main #our-cakes .cakes-box .cake-item .cake-item-img img {
    display: block;
    width: 100%;
}

main #our-cakes .cakes-box .cake-item .cake-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

main #our-cakes .cakes-box .cake-item .cake-item-content .want {
    display: inline-block;
    padding: 5px 30px 5px 30px;
    border: 1px solid var(--button-border);
    margin: 0 0.3em 0.3em 0;
    color: var(--title-font-color);
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.05rem;
    text-align: center;
    transition: all 0.2s;
    background-color: var(--about-background-color);
}



main #our-cakes .cakes-box .cake-item .cake-item-content .want:hover {
    background-color: var(--button-pressed);
    cursor: pointer;
}

.cake-item-heading {
    color: var(--logo-background-color);
}

.cake-item-paragraph {
    text-align: center;
    font-size: 0.85em;
}


@media(min-width: 570px){
    main #our-cakes {
        padding-bottom: 8%;
    }

    main #our-cakes h2 {
        display: block;
    }

    main #our-cakes .cakes-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 6%;
        padding: 0 6% 0 6%
    }

    main #our-cakes .cakes-box .cake-item {
        display: flex;
        flex-direction: column;
    }
}




.carousel-inner {
    background-color: var(--logo-background-color);
    min-height: 380px;
    color: white;
    padding-top: 10px;
}

.carousel-item {
    padding-top: 50px;
    padding-bottom: 0px;
    padding-left: 19%;
    padding-right: 19%
}

.carousel-control-prev-icon {
    width: 30px;
    height: 60px;
}

.carousel-control-next-icon {
    width: 30px;
    height: 60px;
}

@media(min-width: 570px){
    .carousel-inner {
        background-color: var(--logo-background-color);
        min-height: 380px;
        color: white;
    }

    .carousel-item {
        padding-top: 50px;
        padding-bottom: 0px;
        padding-left: 30%;
        padding-right: 30%;
    }

    .carousel-control-prev-icon {
    width: 30px;
    height: 60px;
    }

    .carousel-control-next-icon {
    width: 30px;
    height: 60px;
    }
}

main #feedback .feedback-img img {
    display: block;
    width: 100%;
}

main #feedback .feedback-img #descktop-cheese {
    display: none;
}

@media(min-width: 570px){
    main #feedback .feedback-img #descktop-cheese {
    display: block;
}

    main #feedback .feedback-img {
    display: flex;
}

}


